* {
  /* border: 1px solid red; */
}

.appointment-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  border: 1px solid #b5b7c4;
  border-radius: 12px;
  margin: 10px;
  width: 100%;
  max-width: 300px;
}
@media screen and (min-width: 768px) {
    .appointment-item{
        margin: 15px 15px 15px 0;
    }
}
.appointment-title {
  margin: 0;
  color: #171f46;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
}
@media screen and (min-width: 768px) {
    .appointment-title{
        font-size: 15px;
    }
}
.appointment-date {
  font-family: 'Roboto';
  color: #171f46;
  font-size: 14px;
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
    .appointment-date{
        font-size: 13px;
    }
}
.star-button {
  align-self: flex-start;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}
.star-image {
}
@media screen and (min-width: 768px) {
    .star-image{
        width: 20px;
        height: 20px;
    }
}
